component-product {
  display: block;
  padding-top: 20px;
}

wishlist-icon {
  display: block;
  cursor: pointer;

  .bx-heart,
  .bxs-heart {
    color: red;
  }
}

.product {
  display: grid;
  gap: 20px;
  grid-auto-flow: row;
  grid-auto-columns: 100%;

  .product-block {
    margin-bottom: 20px;
  }

  .product-block__title {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

  .product-sku {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
  }

  .product-price__sale {
    display: flex;
    gap: 10px;
    align-items: center;

    .compare-amount {
      color: grey;
      text-decoration: line-through;
    }

    .savings {
      color: white;
      background-color: hsla(var(--color-accent) / 0.8);
      font-size: var(--font-size-lg);
      padding: 0 5px;
      border-radius: 5px;
    }
  }

  .product-price__sale .amount,
  .product-price__regular .amount {
    font-size: var(--font-size-xl);
    font-weight: 600;
  }

  // Product Media Gallery

  .product-single__gallery[data-thumbnail-position] {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .product-thumbnails {
      display: flex;
      gap: 10px;

      .thumbnail {
        cursor: pointer;

        img {
          object-fit: contain;
        }
      }

      .thumbnail[data-active="true"] {
        border: 1px solid black;
      }

      .thumbnail[data-active="false"] {
        opacity: 0.6;
      }
    }
  }

  @media screen and (min-width: 768px) {
    grid-auto-flow: column;
    max-width: 100%;
    grid-auto-columns: 50%;

    & > div {
      width: 100%;
    }

    .product-single__gallery[data-thumbnail-position="left"] {
      flex-direction: row-reverse;
    }

    .product-single__gallery[data-thumbnail-position="right"] {
      flex-direction: row;
    }

    .product-single__gallery[data-thumbnail-position="bottom"] {
      flex-direction: column;
    }

    :is(
        .product-single__gallery[data-thumbnail-position="left"],
        .product-single__gallery[data-thumbnail-position="right"]
      )
      .product-thumbnails {
      flex-direction: column;
      max-height: 800px;
      overflow-y: hidden;
    }
  }
}

// Variant Selector
variant-selector {
  .option-selector {
    border: none;
    margin-bottom: 10px;
    padding-left: 0;
  }

  .option-selector__label {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;

    legend {
      font-weight: 500;
    }

    .size-chart__trigger {
      font-weight: 700;
      cursor: pointer;
    }
  }

  .option-selector__btns {
    display: flex;
    gap: 10px;

    .option-value {
      position: relative;

      & + label {
        position: relative;
      }

      label {
        position: relative;
        padding: 7px 15px;
        overflow: hidden;
        border-radius: 5px;
        border: 1px solid #575151;
        cursor: pointer;
      }
    }

    input[type="radio"] {
      height: 1px;
      width: 1px;
      clip: rect(0, 0, 0, 0);
      overflow: hidden;
      position: absolute;
      left: 0;

      &:checked + label {
        background-color: hsla(var(--color-accent) / 0.8);
        color: white;
      }

      &.disabled + label {
        background-color: hsla(var(--color-accent) / 0.4);
        color: white;
      }
    }
  }
}

// Quantity Selector

#quantity-selector {
  .qty-block {
    display: flex;
    align-items: center;
    border: 1px solid hsla(var(--color-accent) / 0.8);
    width: max-content;
    border-radius: 5px;
    background-color: white;

    .qty-input input[type="number"] {
      padding: 0.1rem;
      width: 32px;
      text-align: center;
      -moz-appearance: textfield;
      outline: none;
      border: none;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: transparent;
      border-radius: 0;
      margin: 0;

      &:focus {
        outline: none;
      }
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }
}

.payment-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

#add-to-cart.btn {
  margin: 0;
}

.shopify-payment-button {
  width: 100%;
}

.shopify-payment-button__button {
  margin: 0;
}

.shopify-payment-button__more-options {
  display: none;
}

.sold-out-button button {
  width: 100%;
}
